POSTGRES_DB=rf2_prototype
POSTGRES_USER=rf2_user
POSTGRES_PASSWORD=rf2_dev_password

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5434/rf2_prototype
SPRING_DATASOURCE_USERNAME=rf2_user
SPRING_DATASOURCE_PASSWORD=rf2_dev_password

